box==0.1.5
dagshub==0.3.45
ensure==1.0.4
Flask==2.2.5
keras==3.6.0
mlflow==2.17.0
mlflow_skinny==2.17.0
numpy==2.1.3
pandas==2.2.3
pymongo==4.10.1
python-dotenv==1.0.1
PyYAML==6.0.2
scikit_learn==1.4.2
tensorflow==2.16.0rc0
# tensorflow_intel==2.16.0rc0
